.gradient-background {
  background: linear-gradient(300deg, #fee440, #ff4c68, #ef8172);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
  border: 10px solid white;
  border-width: 0px 3px 6px 3px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.inctr {
  /* text-align: center;
   display: inline-block; */
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 10px;
}
/*
.main {
  background-image:url('Neverland 3.png');
  background-repeat: no-repeat;
  background-size: cover;
}
*/
.ad {
  border: 30px solid #009fbd;
  width:600px;
  height:600px;
}
.topline {
  align-content: center;
  width:576px;
  height:226px;
}
body {
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
}
/*
body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100%;
  margin: 0;
  font-size: 1.5rem;
  letter-spacing: 0.06rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}
  */
h1 {
  font-family: "Brush Script MT", Tahoma, sans-serif;
  color:yellow;
  font-size: 48px;
  margin: 5px;
}

img {
  border-radius: 3%;
  object-fit: cover;
}

.pricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 2rem;
}

.pricing-plan {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  background-color: #ba8759 ;
  border-radius: 5px;
  text-align: center;
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 20px;
}

.plan-button {
  padding: 10px;
  background-color: #ff6600;
  color: #fff;
  border-radius: 5px;
  border: none;
}
/*
@media only screen and (max-width: 480px) {
  
  .inctr {
    background-color: yellow;
    width: 100%;
  }
}
*/
@media (max-width: 580px) {
  body {
    width: 100%;
    align-content: center;
  }
  section {
    width: 100%;
    align-content: center;
  }
  div {
    width: 100%;
    align-content: center;
  }
  img {
    width: 100%;
    align-content: center;
  }
  .ad {
    width:100%;
    height:auto;
  }
  .topline {
    width:100%;
    height:auto;
  }
}
@media (max-width: 900px) {
  .pricing-container {
    flex-direction: column;
    height: 100%;
  }
}
